.title {
  text-align: center;
  text-transform: uppercase;
}

.title span {
  display: block;
  font-size: var(--mantine-font-size-xl);
  font-weight: normal;
  letter-spacing: normal;
  line-height: 2rem;
  text-transform: none;
}
