$white: #fff;
$gray: #888;
$dim-gray: #666;
$matterhorn: #4f4f4f;
$cinder: #292b2c;
$valhalla: #252740;
$midnight-express: #121833;
$black-russian-light: #101227;
$black-russian: #080a20;

$shamrock: #27e278;
