.link {
  align-items: center;
  color: var(--mantine-color-silver-1);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  text-transform: uppercase;

  @mixin smaller-than $mantine-breakpoint-sm {
    align-items: center;
    display: flex;
    /*noinspection CssInvalidFunction*/
    height: rem(42px);
    width: 100%;
  }
}

.link::before {
  background-color: white;
  /*noinspection CssInvalidFunction*/
  bottom: rem(-10px);
  content: '';
  height: 2px;
  position: absolute;
  transition: all 0.2s;
  width: 0;
}

.link.sm::before {
  /*noinspection CssInvalidFunction*/
  bottom: rem(8px);
}

.link.sm {
  font-size: var(--mantine-font-size-xl);
  /*noinspection CssInvalidFunction*/
  height: rem(64px);
  /*noinspection CssInvalidFunction*/
  padding-left: rem(32px);
  /*noinspection CssInvalidFunction*/
  padding-right: rem(32px);
}

.link:hover {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.link:hover::before {
  width: 30px;
}

.active {
  color: white;
}

.active::before {
  width: 30px;
}

@media (prefers-reduced-motion: reduce) {
  .link,
  .link:hover,
  .link::before {
    transition: none;
  }
}
