.desktopLinks {
  height: 100%;
}

@media (max-width: calc($mantine-breakpoint-sm - 0.1px)) {
  .desktopLinks {
    display: none;
  }
}

@media (min-width: $mantine-breakpoint-sm) {
  .burger {
    display: none;
  }
}

@media (min-width: $mantine-breakpoint-sm) {
  .drawer {
    display: none;
  }
}

.drawer section {
  overflow: hidden;
}

.drawer section div {
  background-color: var(--mantine-color-blackRussian-6);
}

.scrollToTop {
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.scrollToTop:hover {
  background-color: var(--mantine-color-shamrock-4);
}
